$max-width: 1280px;

$primary-color: #a28298;
$error-color: red;
$color-grey: #e0dada;
$color-purple: #9882a2;
$color-lightblue: #b0e0f9;
$color-darkblue: #51bbf2;
$color-dark: #43443d;
$card-background: #ffffed;
