$max-width: 600px;

$primary-color: #a28298;
$secondary-color: #ffffed;

$error-color: red;
$color-grey: #e0dada;
$color-purple: #9882a2;
$color-lightblue: #b0e0f9;
$color-darkblue: #51bbf2;
$color-dark: #43443d;

$card-background: #ffffed;
